            @font-face {
                font-family: 'GothicFrame';
                src: url('ChopinScript.otf');
            }

       body {
            background-image: url(./img/que.png);
            margin: 0;
            padding: 0;
            overflow: auto;
            scroll-behavior: smooth;
        }

        .container {
            width: 100%;
            max-width: 1600px;
            min-height: 430vh;
            margin: 0 auto;
            padding: 20px;
            background: #ffffff;
            position: relative;
            z-index: 1;
        }

        .barra {
            width: 1905px;
            height: 16vh;
            background: #4e4545;
            margin: 0 auto;
            position: absolute;
            top: 0.8%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .cursor-follower {
            width: 8px;
            height: 8px;
            background: #b6b2b4;
            border-radius: 50%;
            position: fixed;
            pointer-events: none;
            transform: translate(-50%, -50%);
            z-index: 9998;
    }

        .barra2 {
            width: 1905px;
            height: 9vh;
            background: rgb(241, 235, 241);
            margin: 0 auto;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .name{
            width: 1905px;
            height: 3vh;
            background-color: rgb(241, 235, 241);
            position: absolute;
            top: 3%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #menu>a[href*="index.html"]{
            font-family: 'Book Antiqua', serif;
            color: #afa9a9;
            font-size: 0.8em;
            text-align: center;
            position: absolute;
            top: 84%;
            left: 30%;
            z-index: 10;
            text-decoration: none;
            list-style-type: none !important;
        }

        #menu>a[href*="guide.html"]{
            font-family: 'Book Antiqua', serif;
            color: #afa9a9;
            font-size: 0.8em;
            text-align: center;
            position: absolute;
            top: 84%;
            left: 35%;
            z-index: 10;
            text-decoration: none;
            list-style-type: none !important;
        }

        #menu>a[href*="new.html"]{
            font-family: 'Book Antiqua', serif;
            color: #afa9a9;
            font-size: 0.8em;
            text-align: center;
            position: absolute;
            top: 84%;
            left: 40%;
            z-index: 10;
            text-decoration: none;
            list-style-type: none !important;
        }
        
        #menu>a[href*="collection.html"]{
            font-family: 'Book Antiqua', serif;
            color: #afa9a9;
            font-size: 0.8em;
            text-align: center;
            position: absolute;
            top: 84%;
            left: 45%;
            z-index: 10;
            text-decoration: none;
            list-style-type: none !important;
        }
        
        #menu>a[href*="concept.html"]{
            font-family: 'Book Antiqua', serif;
            color: #afa9a9;
            font-size: 0.8em;
            text-align: center;
            position: absolute;
            top: 84%;
            left: 53%;
            z-index: 10;
            text-decoration: none;
            list-style-type: none !important;
        }
        
        #menu>a[href*="topics.html"]{
            font-family: 'Book Antiqua', serif;
            color: #afa9a9;
            font-size: 0.8em;
            text-align: center;
            position: absolute;
            top: 84%;
            left: 60%;
            z-index: 10;
            text-decoration: none;
            list-style-type: none !important;
        }
        
        #menu>a[href*="signup.html"]{
            font-family: 'Book Antiqua', serif;
            color: #afa9a9;
            font-size: 0.8em;
            text-align: center;
            position: absolute;
            top: 84%;
            left: 66%;
            z-index: 10;
            text-decoration: none;
            list-style-type: none !important;
        }

        .logo{
            width: 150px;
            position: absolute;
            top: 30%;
            left: 46%;
        }

        /* Contenedor principal */
.carousel-container {
    max-width: 1000px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    top: -35px;
    overflow: hidden; /* Oculta las imágenes que no se ven */
}

/* Contenedor de las imágenes - se mueve horizontalmente */
.carousel-slides {
    display: flex; /* Coloca las imágenes en fila */
    transition: transform 1s ease-in-out; /* Animación suave */
}

/* Cada imagen ocupa el 100% del ancho */
.slide {
    min-width: 100%;
    height: 700px;
    position: relative;
    top: 150px;
    left: 0%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}

/* Flechas de navegación */
.carousel-button {
    position: absolute;
    top: 55%; /* Centro vertical */
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 30px;
    padding: 15px 20px;
    width: 3%;
    height: 10%;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 18px; /* Flecha izquierda */
    color: #ffffff;
}

.carousel-button.next {
    right: 30px; /* Flecha derecha */
    color: #ffffff;
}

/* Puntos indicadores */
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    
}

.indicator {
    width: 12px;
    height: 12px;
    border-radius: 100%; /* Hace círculos */
    background-color: #4e4545;
    cursor: pointer;
}

.indicator.active {
    background-color: rgb(241, 235, 241); /* Punto activo en blanco */
}